body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #009c08;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #ff0000;
}

section {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #003d6a;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}